* {
    margin: 0;
    padding: 0;
}


:root{
    --branco-principal: #ffffff;
    --sinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-defundo: #00030C;
    --fonte-principal: 'Roboto', sans-serif;
    --botao-azul-efeito: #1d5498;
}



body {
    background-color: var(--cor-defundo);
    color: #ffffff;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background: url("imagens/Background.png");  
    background-repeat: no-repeat ;  /* para a imagen n dar reflex */
    background-size: contain;  /* preencher o espaco que ficou no canto direito */
    align-items: center;
    text-align: center;
}

.conteiner__todo-conteudo{
    margin:0 6em;
}

.conteiner{
    height: 100vh;
    display: grid;  /* defini que o displai e uma grid */
    grid-template-columns: 50% 50%;/* divide o elemento na minha tela em coluna aqi em especifico */
}

.conteiner__titulo{
   
    font-size: 28px;
    font-weight: 700;
}

.conteiner__imagem-logo{
    margin: 1em 0 2em 0;
}


.conteiner__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em; /* pedin e de dentro p fora margim de fora p dentrp */
    color: var(--branco-principal);
    display: block;     /* para alinhar ele no lugar , ir no container*/
    text-decoration: none;
    margin: 1em;
   
}
.conteiner__botao__secundario{
    
    padding: 1em;
    background-color: transparent;
    border: 2px solid ; /* solii linha normal, n pontilhada  */
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin: 1em;

    }

    .conteiner__aviso{
        font-size: 12px;
        color: var(--sinza-secundario);
        margin: 1em;
    }

    .secundario__imagem{
        width: 100%;
           

    }

    .secundario{
        align-items: center;
        margin: 0 10em;
    }

    .descricao__titulo{
        font-weight: 700;
        font-size: 48px;
        color: var(--branco-principal);
        margin-bottom: 0.1em; /*margem de baixo */
    }

    .descricao__texto{
        color: var(--sinza-secundario);
    }

    .conteiner__secundario__botao{
         background-color: var(--botao-azul);
         border-radius: 5px;
         padding: 1em;
         color: var(--branco-principal);
         display: block;
         text-decoration: none;
         margin: 1em;
         display: inline-block;/* diminuiu a barra azul, ocupou apenas seu espaco  */
         margin-top: 1em;
                
    }

    .conteiner__descricao{
        padding: 2em;
    }

    .dispositivo__lista{
        display: flex;
        justify-content: center; 
         /*para tirar os pontinho da lista, deixa se, o estilo  */
         list-style-type: none;
         margin: 5em 0;
    }
    .dispositivo{
        text-align: center;
    }

    .dispositivo__titulo{
        font-size: 48px;    
    }

    .lista__item{
        font-size: 38px;
    }


     .rodape {
    text-align: center;
    margin: 5em 3em;
}

    .rodape__imagem{
        padding: 1em;
    }

    .rodape__lista{
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-top: 1em;
        padding: 1em;
  
    
    }


    .lista__link a{
            text-decoration: none;
            color: var(--branco-principal);
            margin-left: 1em;
          
    }   

    .rodape__descricao{
            margin: 1em 0;
            color: var(--cinza-secundario);
            font-size: 14px;
           
    }

    .lista__link a:hover{
        /* funcao para mudar a cor da fonte ao passar o mouse no link */
        color: var(--botao-azul);
 }

    .lista__link a:active{
    /* funcao para mudar a cor da fonte ao clicar com o mouse no link */
    color: aqua;
 }

    .conteiner__botao :hover{
    /* funcao para mudar a cor da da caixa do botao e deixar a fonte de dentro de branco para preto */
    background-color: var(--botao-azul-efeito);
    color: var(--cor-defundo);
    }

    



 